.blog-card {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 300px;
    border: 1px solid #eb5f14;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.blog-card h2 {
    margin-bottom: 10px;
}
.blog-card-text {
    color: #374151;
}
.blog-card button {
    background-color: #eb5f14;
    cursor: pointer;
    border: none;
    margin-left: 20px;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    color: #f1f1f1;
    font-size: 15px;
    font-weight: 550;
}
.blog-card button:hover {
    background-color: #f1f1f1;
    border: 1px solid #eb5f14;
    color: #eb5f14;
}
.blog-card-image img {
    height: 175px;
    width: 100%;
    object-fit: cover;
}
.blog-card-body {
    padding: 20px;
}
.blog-card-date{
    color: #6B7280;
    margin-top: -2px;
    margin-bottom: 2px;
    font-size: 14px;
}
.blog-card-footer {
    display: flex;
    justify-content: space-between;
}
.blog-card-buttons {
    padding: 5px;
    margin-right: 5px;
}
.delete {
    color: #e92222;
    cursor: pointer;
}
.edit {
    color: rgb(64, 64, 224);
    cursor: pointer;
}